<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DES Image Encryption</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h6>Project By - 25CSE_38</h6>
  <div id="logo" class="main-logo">
   <img src="logo.jpg" alt="3DES">
  </div>

  <button id="encrypt-button" onclick="location.href='/encrypt'">Encrypt an Image</button>
  <button id="decrypt-button"  onclick="location.href='/decrypt'">Decrypt an Image</button>

  <div id="lockOverlay" class="lock-overlay">
    <img src="/lock_rev.gif" alt="Lock closing animation" class="lock-gif">
  </div>

  <div id="lockOverlay1" class="lock-overlay1">
    <img src="/lock.gif" alt="Lock closing animation" class="lock-gif">
  </div>

  <script src="script.js"></script>
</body>
</html>
